@font-face {
    src: url("./poppins.ttf");
    font-family: "Poppins";
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins";
    line-height: 20px;
    font-size: 15px;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background: #e3e9f7;
    margin: 0;
    padding: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

/* header/navbar --> */
img {
    width: 100%;
}
header {
    z-index: 100;
    width: 100%;
    height: 70px;
    background: #fefefe;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    /* border-radius: 0 0 10px 10px; */
    margin: 0 auto;
    text-align: center;
}
.logo {
    width: 120px;
    margin-top: 8px;
    vertical-align: middle;
    position: relative;
    float: left;
}
nav .logo {
    display: none;
}
nav ul {
    display: flex;
}
nav ul li a {
    color: #212526;
    display: block;
    margin: 0 2px;
    font-weight: 600;
    padding: 8px 18px;
    transition: 0.2s;
    border-radius: 30px;
}
nav ul li a:hover {
    background: #f6f4ff;
}
nav ul li a.active {
    color: #fff;
    background: #675cff;
}
.hamburger {
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.2s;
}
.hamburger:hover {
    background: #f6f4ff;
}
.hamburger .line {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #212526;
}
/* <-- navbar/header */
 
/* main --> */

.layar-penuh {
    width: 100%;
}

.layar-dalam {
    width: 1000px;
    margin: auto;
}

#home {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 2;
    text-transform: capitalize;
}

#home img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -2;
    
}

#home .intro {
    z-index: 100;
    color: #fff;
    text-align: center;
    position: relative;
    top: 50%;
}

#home .intro h3 {
    font-size: 50px;
    margin: 0;
    padding: 0;
}

#home .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 50%;
    z-index: -1;
}

section {
    padding: 50px 0px 50px 0px;
    display: block;
}

section h3 {
    font-size: 30px;
}

section h3::after {
    content: "";
    border-bottom: 5px solid #c86b85;
    width: 52px;
    display: block;
    margin: 20px auto;
}

#about {
    text-align: center;
    background-color: #3b8686;
    width: 100%;
    display: flex;
}

#about .layar-dalam {
    margin-top: 60px;
}

#Feature{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #96f2cb;
    
}

.Feature-row{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature-title {
    text-align: center;
}

.Feature-col{
    flex-basis: 25%;
    text-align: center;
    margin-top: 20px;
}

.Feature-col3 {
    flex-basis: 25%;
    text-align: center;
}

.Feature-col .cuy {
    width: 140px;
    margin-top: 5px;
}

.Feature-col img{
    width: 100px;  
    margin-bottom: 20px; 
} 

.Feature-col h3{
    margin-bottom: 10px;
    font-size: 30px;
}

.Feature-btn{
    margin: 80px auto 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.Feature-btn .line{
    text-align: right;
    display: inline-block;
    margin-right: 25px;
}

section p.ringkasan {
    font-style: italic;
    font-size: 18px;
    color: #ababab;
}

section .konten-isi p {
    font-style: normal;
}

.clients {
    background: #a8dba8;
    padding: 15px 0;
    text-align: center;
    
}

.section-title {
    text-align: center;
    padding-bottom: 10px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 50px;
    margin-top: 30px;
    padding-bottom: 0;
    color: #555;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
}

.row>* {
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)/ 2);
    padding-left: calc(var(--bs-gutter-x)/ 2);
    margin-top: var(--bs-gutter-y);
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.align-items-center {
    align-items: center!important;
}

.justify-content-center {
    justify-content: center!important;
}

.d-flex {
    display: flex!important;
}

.clients img {
    max-width: 20%;
    transition: all 0.4s ease-in-out;
    display: inline-block;
    padding: 10px 0;
    align-items: center;
    margin: 0 0 10px 130px;
    /* padding-left: 30px; */
    
}

.img-fluid {
    height: auto;
}



/* kaki */

footer {
    min-height: 100vh;
    /* background: url(library.jpg) no-repeat; */
    background: #3b8686;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info {
    color: #fff;
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
    /* margin-top: 100px; */
}

.contact-info i{
    margin-right: 20px;
    font-size: 25px;
    /* padding-bottom: 20px;
    margin-bottom: 10px; */
}

.contact-form {
    max-width: 700px;
    margin-right: 50px;
    /* margin-left: 50px; */
    /* margin-top: 50px;
    margin-bottom: 50px; */
}

.contact-info, .contact-form {
    flex: 1;
}

.contact-form h2 {
    color: #fff;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.contact-form .text-box {
    background: #000;
    color: #fff;
    border: none;
    width: calc(50% - 10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form .text-box:first-child {
    margin-right: 15px;
}

.contact-form textarea {
    background: #000;
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form .send-btn {
    float: right;
    background: #2e94e3;
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: background;
}

.contact-form .send-btn:hover {
    background: #0582e3;
}



/* <-- main */

/* responsive --> */

@media screen and (max-width: 950px){
    .contact-section{
        flex-direction: column;
    }

    .contact-info, .contact-form {
        margin: 30px 50px;
    }

    .contact-form h2 {
        font-size: 30px;
    }
    .contact-form .text-box {
        width: 100%;
    }

}

@media only screen and (max-width: 700px){
    #home .intro h3 {
        font-size: 40px;
    }
}

@media only screen and (max-width: 400px){
    #home .intro h3 {
        font-size: 25px;
    }
}

@media only screen and (max-width: 1100px){
    .clients img {
        margin: 0 0 10px 50px;
    }
}

@media only screen and (max-width: 1000px){
    .clients img {
        margin: 0 0 10px 30px;
    }
}

@media only screen and (max-width: 800px){
    .clients img {
        margin: 0 0 10px 25px;
    }
}


@media only screen and (max-width: 400px){
    .clients img {
        margin: 0 0 10px 5px;
    }
}

@media only screen and (max-width: 1200px) {
    header {
        width: 100%;
        padding: 0 20px;
    }
    nav {
        position: absolute;
        left: -300px;
        top: 0;
        z-index: 999;
        width: 280px;
        height: 100vh;
        background-color: #fefefe;
        transition: 0.2s;
        box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
    }
    #nav_check:checked ~ nav {
        left: 0;
    }
    nav .logo {
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 30px;
    }
    nav ul {
        display: block;
        padding: 0 20px;
        margin-top: 70px;
    }
    nav ul li a {
        margin-bottom: 5px;
        padding: 15px;
        border-radius: 5px;
    }
    .hamburger {
        display: block;
    }
}

/* <-- responsive */